.top {
	text-align: center;
}
.textInput {
	display: block;
	width: 49%;
	float: left;
}
textarea {
	width:100%;
	height:300px;
}
label:hover {
	text-decoration: underline;
	cursor: pointer;
}
.spacer {
	margin-left: 10px;
}
.viewType {
	font-size: 12px;
	clear: both;
	text-align: center;
	padding: 1em;
}
#diffoutput {
	width: 100%;
	overflow-y: auto;

}

table.changed_files {
	width: 495px;
	border-collapse:collapse;
	border:1px solid darkgray;
	white-space:pre-wrap
	font-size: 13px;
	background:#fff;
}

table.changed_files tbody tr.Deleted{
	background: #E99;
}

table.changed_files tbody tr.Added{
	background: #9E9;
}

table.diff {
	border-collapse:collapse;
	border:1px solid darkgray;
	white-space:pre-wrap
	font-size: 12px;
	background:#fff;
}
table.diff tbody { 
	font-family:Courier, monospace
}
table.diff tbody th {
	font-family:verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	background:#EED;
	font-size:11px;
	font-weight:normal;
	border:1px solid #BBC;
	color:#886;
	padding:.3em .5em .1em 2em;
	text-align:right;
	vertical-align:top
}
table.diff thead {
	border-bottom:1px solid #BBC;
	background:#fff;
	font-size: 12px;
}
table.diff thead th.texttitle {
	text-align:right
	font-size: 12px;
	width: 500px;
}
table.diff tbody td {
	padding:0px .4em;
	padding-top:.4em;
	vertical-align:top;
	font-size: 12px;
}
table.diff .empty {
	background-color:#DDD;
}
table.diff .replace {
	background-color:#FD8
}
table.diff .delete {
	background-color:#E99;
}
table.diff .skip {
	background-color:#fff;
	border:1px solid #AAA;
	border-right:1px solid #BBC;
}
table.diff .insert {
	background-color:#9E9;
}

